    <!-- header -->
    <header class="header-area">

      <div id="header-sticky" class="menu-area">
          <div class="container">
              <div class="second-menu">
                  <div class="row align-items-center">
                      <div class="col-xl-2 col-lg-2">
                          <div class="logo">
                              <a href="index.html"><img src="./assets/logo_letras.jpg" alt="logo"></a>
                          </div>
                      </div>
                      <div class="col-xl-8 col-lg-8 text-center">
                          <div class="main-menu">
                              <nav id="mobile-menu" style="display: block;">
                                  <ul>
                                      <li class="has-sub">
                                          <a href="index.html">Inicio</a>
                                      </li>
                                      <li><a href="about.html">Acerca de nosotros</a></li>
                                      <li class="has-sub">
                                          <a href="services.html">Servicios</a>
                                      </li>
                                      <li class="has-sub">
                                          <a href="blog.html">Eventos</a>
                                      </li>
                                      <li><a href="contact.html">Contacto</a></li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                      <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                          <a href="index.html#contact" class="btn ss-btn smoth-scroll">Obten una cotización <i
                                  class="fal fa-long-arrow-right"></i></a>
                      </div>
                      <div class="col-12">
                          <div class="mobile-menu"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- header-end -->


  
  <router-outlet></router-outlet>



  <!-- footer -->
  <footer class="footer-bg footer-p" style="background: #131819;">
    <div class="footer-top  pt-70  pb-40">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="footer-widget mb-30">
                        <div class="f-widget-title">
                            <img src="./assets/logo.jpg" alt="img">
                        </div>
                        <p>Nuestro compromiso es elevar sus ganancias dando a conocer su
                            marca con el mejor servicio. Tenemos la experiencia y la actitud necesaria
                            para dar un buen resultado.</p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-sm-6">
                    <div class="footer-widget mb-30">
                        <div class="f-widget-title">
                            <h2>Enlaces</h2>
                        </div>
                        <div class="footer-link">
                            <ul>
                                <li><a href="index.html">Inicio</a></li>
                                <li><a href="about.html"> Acerca de nosotros</a></li>
                                <li><a href="services.html"> Servicios </a></li>
                                <li><a href="events.html"> Eventos </a></li>
                                <li><a href="contact.html"> Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-sm-6">
                    <div class="footer-widget mb-30">
                        <div class="f-widget-title">
                            <h2>Nuestros Servicios</h2>
                        </div>
                        <div class="footer-link">
                            <ul>
                                <li><a href="#">Edecanes</a></li>
                                <li><a href="#">Hosstes</a></li>
                                <li><a href="#">Animadores</a></li>
                                <li><a href="#">Volanteros</a></li>
                                <li><a href="#">Promoboard</a></li>
                                <li><a href="#">Demostradoras</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-sm-6">
                    <div class="footer-widget mb-30">
                        <div class="f-widget-title">
                            <h2>Contacto</h2>
                        </div>
                        <div class="f-contact">
                            <ul>
                                <li>
                                    <i class="icon fal fa-phone"></i>
                                    <span>+52-341-123-546</span>
                                </li>
                                <li><i class="icon fal fa-envelope"></i>
                                    <span>
                                        <a href="mailto:info@example.com">info@ddzagenciademodelos.com</a>
                                    </span>
                                </li>
                                <li>
                                    <i class="icon fal fa-map-marker-check"></i>
                                    <span>Colón #345,<br> Ciudad Guzmán, Jalisco</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="footer-widget mb-30">
                        <div class="f-widget-title mb-30">
                            <h2>Encuentranos en Facebook</h2>
                        </div>
                        <div class="footer-link">
                            <iframe src="./assets/embed.html" width="100" height="160" style="border:0;"
                                allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    Copyright © 2023 Dzagenciademodelos. Todos los derechos reservados.
                </div>
                <div class="col-lg-6 text-right text-xl-right">
                </div>
            </div>
        </div>
    </div>
</footer>