
    <!-- main-area -->
    <main>

        <!-- search-popup -->
        <div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content search-popup">
                    <div class="text-center">
                        <a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
                    </div>
                    <div class="row search-outer">
                        <div class="col-md-11"><input type="text" placeholder="Busca..."></div>
                        <div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /search-popup -->

        <!-- slider-area -->
        <section id="home" class="slider-area slider-four fix p-relative">

            <div class="slider-active slick-slider">
                <div class="slick-list draggable">
                    <div class="slick-track" style="opacity: 1; width: 1900px;">
                        <div class="single-slider slider-bg d-flex align-items-center slick-slide slick-current slick-active"
                            style="background-image: url(&quot;assets/images/portada-1.jpg&quot;); width: 1900px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"
                            data-slick-index="0" aria-hidden="false" tabindex="0">
                            <div class="container">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-lg-7 col-md-7">
                                        <div class="slider-content s-slider-content mt-60">
                                            <h5 data-animation="fadeInUp" data-delay=".4s" class=""
                                                style="animation-delay: 0.4s;">Agencia de Edecanes</h5>
                                            <h2 data-animation="fadeInUp" data-delay=".4s" class=""
                                                style="animation-delay: 0.4s;">Tenemos experiencia y<br> la mejor imagen
                                            </h2>
                                            <div class="slider-btn mt-30" data-animation="fadeInUp" data-delay=".4s"
                                                style="animation-delay: 0.4s;">
                                                <a href="#about" class="btn ss-btn active mr-15 smoth-scroll"
                                                    tabindex="0">Leer más <i class="fal fa-long-arrow-right"></i></a>
                                                <a href="https://www.youtube.com/watch?v=gyGsPlt06bo"
                                                    class="video-i popup-video" tabindex="0"><i
                                                        class="fas fa-play"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- slider-area-end -->
        <!-- about-area -->
        <section id="about" class="about-area about-p pt-120 pb-120 p-relative" style="background: #000;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="s-about-img p-relative">
                            <img src="./assets/images/dz-edecanes.jpeg" alt="about-img">
                            <!-- <div class="about-text second-about">
                                    <span>30 <sub>+</sub></span>
                                    <p>Years Experience</p>
                                </div> -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 pl-60">
                        <div class="about-content s-about-content">
                            <div class="about-title second-atitle pb-25">
                                <h5>Encuentra en nosotros</h5>
                                <h2>La experiencia y la actitud que necesitas</h2>
                            </div>
                            <p>Nuestro compromiso es elevar sus ganancias dando a conocer su
                                marca con el mejor servicio. Tenemos la experiencia y la actitud necesaria
                                para dar un buen resultado. </p>
                            <div class="about-content3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="green">
                                            <li>Fringilla risus nec, luctus mauris orci auctor purus euismod at pretium
                                                purus pretium ligula rutrum tempor sapien .</li>
                                            <li>Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales
                                                sapien undo pretium purus .</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-btn mt-20">
                                <a href="about.html" class="btn ss-btn smoth-scroll">Leer más <i
                                        class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-area-end -->

        <!-- brand-area -->
        <section class="brand-area pt-120 pb-120" style="background: #222;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title mb-50 wow fadeInLeft  animated" data-animation="fadeInLeft"
                            data-delay=".4s" style="visibility: hidden; animation-name: none;">
                            <h5>Compromiso</h5>
                            <h2>
                                Nuestro compromiso es elevar sus ganancias dando a conocer su
                                marca con el mejor servicio. Tenemos la experiencia y la actitud necesaria
                                para dar un buen resultado.
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row brand-active slick-slider">
                    <div class="slick-list draggable">
                        <div class="slick-track"
                            style="opacity: 1; width: 4620px; transform: translate3d(-1650px, 0px, 0px);">
                            <div class="col-xl-2 slick-slide slick-cloned" data-slick-index="-4" id=""
                                aria-hidden="true" tabindex="-1" style="width: 330px;">
                                <div class="single-brand">
                                    <img src="./assets/b-logo2.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2 slick-slide slick-cloned" data-slick-index="-3" id=""
                                aria-hidden="true" tabindex="-1" style="width: 330px;">
                                <div class="single-brand">
                                    <img src="./assets/b-logo3.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2 slick-slide slick-cloned" data-slick-index="-2" id=""
                                aria-hidden="true" tabindex="-1" style="width: 330px;">
                                <div class="single-brand">
                                    <img src="./assets/b-logo4.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2 slick-slide slick-cloned" data-slick-index="-1" id=""
                                aria-hidden="true" tabindex="-1" style="width: 330px;">
                                <div class="single-brand">
                                    <img src="./assets/b-logo3.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2 slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1"
                                style="width: 330px;">
                                <div class="single-brand">
                                    <img src="./assets/b-logo1.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2 slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1"
                                style="width: 330px;">
                                <div class="single-brand">
                                    <img src="./assets/b-logo2.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2 slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1"
                                style="width: 330px;">
                                <div class="single-brand">
                                    <img src="./assets/b-logo3.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2 slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1"
                                style="width: 330px;">
                                <div class="single-brand">
                                    <img src="./assets/b-logo4.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2 slick-slide slick-current slick-active" data-slick-index="4"
                                aria-hidden="false" tabindex="0" style="width: 330px;">
                                <div class="single-brand">
                                    <img src="./assets/b-logo3.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2 slick-slide slick-cloned slick-active" data-slick-index="5" id=""
                                aria-hidden="false" tabindex="-1" style="width: 330px;">
                                <div class="single-brand">
                                    <img src="./assets/b-logo1.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2 slick-slide slick-cloned slick-active" data-slick-index="6" id=""
                                aria-hidden="false" tabindex="-1" style="width: 330px;">
                                <div class="single-brand">
                                    <img src="./assets/b-logo2.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2 slick-slide slick-cloned slick-active" data-slick-index="7" id=""
                                aria-hidden="false" tabindex="-1" style="width: 330px;">
                                <div class="single-brand">
                                    <img src="./assets/b-logo3.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2 slick-slide slick-cloned" data-slick-index="8" id="" aria-hidden="true"
                                tabindex="-1" style="width: 330px;">
                                <div class="single-brand">
                                    <img src="./assets/b-logo4.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2 slick-slide slick-cloned" data-slick-index="9" id="" aria-hidden="true"
                                tabindex="-1" style="width: 330px;">
                                <div class="single-brand">
                                    <img src="./assets/b-logo3.png" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- brand-area-end -->

        <!-- services-three-area -->
        <section id="services" class="services-area services-bg  p-relative fix pt-120 pb-90" style="background: #000;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section-title mb-50 wow fadeInLeft  animated text-center"
                            data-animation="fadeInLeft" data-delay=".4s"
                            style="visibility: hidden; animation-name: none;">
                            <h5>Que hacemos</h5>
                            <h2>
                                Servicios de Marketing Vivencial
                            </h2>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="s-single-services text-center mb-30 wow fadeInUp  animated"
                            data-animation="fadeInUp" data-delay=".2s"
                            style="visibility: hidden; animation-name: none;">
                            <div class="services-icon">
                                <img src="./assets/images/servicios/edecanes.jpg" alt="img">
                            </div>
                            <div class="second-services-content">
                                <h3><a href="services-detail.html">Edecanes</a></h3>
                                <p>Descripción corta de este servicio...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="s-single-services text-center active mb-30 wow fadeInUp  animated"
                            data-animation="fadeInUp" data-delay=".4s"
                            style="visibility: hidden; animation-name: none;">
                            <div class="services-icon">
                                <img src="./assets/images/servicios/hosstes.jpg" alt="img">
                            </div>
                            <div class="second-services-content">
                                <h3><a href="services-detail.html">Hosstes</a></h3>
                                <p>Descrición corta de este servicio...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="s-single-services text-center mb-30 wow fadeInUp  animated"
                            data-animation="fadeInUp" data-delay=".6s"
                            style="visibility: hidden; animation-name: none;">
                            <div class="services-icon">
                                <img src="./assets/images/servicios/volanteros.jpg" alt="img">
                            </div>
                            <div class="second-services-content">
                                <h3><a href="services-detail.html">Volanteros</a></h3>
                                <p>Descripción corta de este servicio...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="s-single-services text-center mb-30 wow fadeInUp  animated"
                            data-animation="fadeInUp" data-delay=".8s"
                            style="visibility: hidden; animation-name: none;">
                            <div class="services-icon">
                                <img src="./assets/images/servicios/animadores_.jpg" alt="img">
                            </div>
                            <div class="second-services-content">
                                <h3><a href="services-detail.html">Animadores</a></h3>
                                <p>Descripción corta de este servicio...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="s-single-services text-center mb-30 wow fadeInUp  animated"
                            data-animation="fadeInUp" data-delay=".8s"
                            style="visibility: hidden; animation-name: none;">
                            <div class="services-icon">
                                <img src="./assets/images/servicios/promoboard.jpg" alt="img">
                            </div>
                            <div class="second-services-content">
                                <h3><a href="services-detail.html">Promoboard</a></h3>
                                <p>Descripción corta de este servicio...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="s-single-services text-center mb-30 wow fadeInUp  animated"
                            data-animation="fadeInUp" data-delay=".8s"
                            style="visibility: hidden; animation-name: none;">
                            <div class="services-icon">
                                <img src="./assets/images/servicios/demostradoras.jpg" alt="img">
                            </div>
                            <div class="second-services-content">
                                <h3><a href="services-detail.html">Demostradoras</a></h3>
                                <p>Descripción corta de este servicio...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- services-three-area -->

        <!-- testimonial-area -->
        <section class="testimonial-area text-center pt-120 pb-95 "
            style="background-image:url(assets/img/bg/testimonial-bg.png)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center mb-50 wow fadeInDown  animated"
                            data-animation="fadeInDown" data-delay=".4s"
                            style="visibility: hidden; animation-name: none;">
                            <h5>Testimonios</h5>
                            <h2>
                                Nuestros clientes opinan
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="testimonial-active wow fadeInUp animated slick-slider slick-dotted"
                            data-animation="fadeInUp" data-delay=".4s"
                            style="visibility: hidden; animation-name: none;">
                            <div class="slick-list draggable">
                                <div class="slick-track"
                                    style="opacity: 1; width: 6762px; transform: translate3d(-966px, 0px, 0px);">
                                    <!-- <div class="single-testimonial-outer slick-slide" data-slick-index="-1"
                                        id="" aria-hidden="true" tabindex="-1" style="width: 966px;">
                                        <div class="single-testimonial">
                                            <div class="qt-img">
                                                <img src="./assets/qt-icon.png" alt="img">
                                            </div>
                                            <p>“La Agencia DZ nos ha brindado un servicio profesional para nuestros
                                                eventos.
                                                Tienen atención personalizada y son muy comprometidos con el cliente y
                                                su satisfacción.”</p>
                                            <div class="testi-author">
                                                <img src="./assets/testi_avatar.png" alt="img">
                                                <div class="ta-info">
                                                    <h6>Mario Zepeda Delgado</h6>
                                                    <span>Gerente Hotel Las Brisas.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="single-testimonial-outer slick-slide"
                                        data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel"
                                        id="slick-slide20" aria-describedby="slick-slide-control20"
                                        style="width: 966px;">
                                        <div class="single-testimonial">
                                            <div class="qt-img">
                                                <img src="./assets/qt-icon.png" alt="img">
                                            </div>
                                            <p>“La agencia siempre se preocupa por ofrecer candidatas aptas para la
                                                promoción...
                                                Las chicas siempre profesionales, responsables, puntuales y concentradas
                                                en su trabajo.
                                                100% recomendadas👍”</p>
                                            <div class="testi-author">
                                                <img src="./assets/testi_avatar.png" alt="img">
                                                <div class="ta-info">
                                                    <h6>Mario Zepeda Delgado</h6>
                                                    <span>Gerente Hotel Las Brisas.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-testimonial-outer slick-slide" data-slick-index="1"
                                        aria-hidden="true" tabindex="1" role="tabpanel" id="slick-slide21"
                                        aria-describedby="slick-slide-control21" style="width: 966px;">
                                        <div class="single-testimonial">
                                            <div class="qt-img">
                                                <img src="./assets/qt-icon.png" alt="img">
                                            </div>
                                            <p>“100% RECOMENDADAS, muy buen servicio y excelente actitud”.</p>
                                            <div class="testi-author">
                                                <img src="./assets/testi_avatar.png" alt="img">
                                                <div class="ta-info">
                                                    <h6>Mario Zepeda Delgado</h6>
                                                    <span>Gerente Hotel Las Brisas.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-testimonial-outer slick-slide" data-slick-index="2"
                                        aria-hidden="true" tabindex="2" role="tabpanel" id="slick-slide22"
                                        aria-describedby="slick-slide-control22" style="width: 966px;">
                                        <div class="single-testimonial">
                                            <div class="qt-img">
                                                <img src="./assets/qt-icon.png" alt="img">
                                            </div>
                                            <p>“La calidad de su servicio es excelente ademas de las chicas muy bonitas
                                                y buen trato servicial 😚😍😎👍”</p>
                                            <div class="testi-author">
                                                <img src="./assets/testi_avatar.png" alt="img">
                                                <div class="ta-info">
                                                    <h6>Mario Zepeda Delgado</h6>
                                                    <span>Gerente Hotel Las Brisas.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-testimonial-outer slick-slide" data-slick-index="3"
                                        id="" aria-hidden="true" tabindex="3" style="width: 966px;">
                                        <div class="single-testimonial">
                                            <div class="qt-img">
                                                <img src="./assets/qt-icon.png" alt="img">
                                            </div>
                                            <p>“Excelente agencia recomendada, mucho éxito chicas.. Guapas chicas
                                                excelentes modelos..”</p>
                                            <div class="testi-author">
                                                <img src="./assets/testi_avatar.png" alt="img">
                                                <div class="ta-info">
                                                    <h6>Mario Zepeda Delgado</h6>
                                                    <span>Gerente Hotel Las Brisas.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-testimonial-outer slick-slide" data-slick-index="4"
                                        id="slick-slide21" aria-hidden="true" tabindex="4" style="width: 966px;">
                                        <div class="single-testimonial">
                                            <div class="qt-img">
                                                <img src="./assets/qt-icon.png" alt="img">
                                            </div>
                                            <p>“EXCELENTE IMAGEN SILUETA Y PROFESIONALISMO MUY ALTA RECOMENDACION PARA
                                                SUS EVENTOS.”.</p>
                                            <div class="testi-author">
                                                <img src="./assets/testi_avatar.png" alt="img">
                                                <div class="ta-info">
                                                    <h6>Mario Zepeda Delgado</h6>
                                                    <span>Gerente Hotel Las Brisas.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-testimonial-outer slick-slide" data-slick-index="5"
                                        id="slick-slide22" aria-hidden="true" tabindex="5" style="width: 966px;">
                                        <div class="single-testimonial">
                                            <div class="qt-img">
                                                <img src="./assets/qt-icon.png" alt="img">
                                            </div>
                                            <p>“Etiam sodales congue consequat. Aenean vitae ullamcorper leo.
                                                Pellentesque condimentum ex ut erat posuere, quis tincidunt augue
                                                semper. Cras congue nulla sed quam hendrerit euismod”</p>
                                            <div class="testi-author">
                                                <img src="./assets/testi_avatar.png" alt="img">
                                                <div class="ta-info">
                                                    <h6>Mario Zepeda Delgado</h6>
                                                    <span>Gerente Hotel Las Brisas.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <ul class="slick-dots" style="" role="tablist">
                                <li class="slick-active" role="presentation"><button type="button" role="tab"
                                        id="slick-slide-control20" aria-controls="slick-slide20" aria-label="1 of 3"
                                        tabindex="0" aria-selected="true">1</button></li>
                                <li role="presentation"><button type="button" role="tab" id="slick-slide-control21"
                                        aria-controls="slick-slide21" aria-label="2 of 3" tabindex="-1">2</button></li>
                                <li role="presentation"><button type="button" role="tab" id="slick-slide-control22"
                                        aria-controls="slick-slide22" aria-label="3 of 3" tabindex="-1">3</button></li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimonial-area-end -->

        <!-- gallery-area -->
        <section id="portfolio" class="pt-120 pb-90" style="background: #222;">
            <div class="container">
                <div class="portfolio ">
                    <div class="row align-items-center mb-50">
                        <div class="col-lg-5">
                            <div class="section-title wow fadeInLeft  animated" data-animation="fadeInLeft"
                                data-delay=".4s" style="visibility: hidden; animation-name: none;">
                                <h5>Modelos</h5>
                                <h2>
                                    Nuestro equipo
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <!-- <div class="my-masonry text-right wow fadeInRight  animated" data-animation="fadeInRight"
                                data-delay=".4s" style="visibility: hidden; animation-name: none;">
                                <div class="button-group filter-button-group ">
                                    <button class="active" data-filter="*">Todas</button>
                                    <button data-filter=".mayra">Mayra</button>
                                    <button data-filter=".brenda">Brenda</button>
                                    <button data-filter=".lizeth">Lizeth</button>
                                    <button data-filter=".miriam">Miriam</button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="grid col3 wow fadeInUp  animated" data-animation="fadeInUp" data-delay=".4s"
                        style="position: relative; height: 661.312px; visibility: hidden; animation-name: none;">
                        <div class="grid-item mayra" style="position: absolute; left: 0%; top: 0px;" *ngFor="let item of edecanes">
                            <a class="popup-image" href="{{item.src}}">
                                <figure class="gallery-image">
                                    <img src="{{item.src}}" alt="img" class="img">
                                </figure>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- gallery-area-end -->

        <!-- blog-area -->
        <section id="blog" class="blog-area  p-relative pt-120 pb-90 fix" style="background: #000;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="section-title center-align mb-50 text-center">
                            <h5>Últimos</h5>
                            <h2>
                                Eventos
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4" *ngFor="let item of eventos">
                        <div class="single-post2 mb-30  wow fadeInDown  animated"
                            style="visibility: hidden; animation-name: none;">
                            <div class="blog-thumb2">
                                <a href="blog-details.html"><img [src]="item.src" alt="img"></a>
                            </div>
                            <div class="blog-content2">
                                <div class="b-meta">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="meta-info">
                                                <ul>
                                                    <!-- <li><i class="fal fa-user"></i> {{item.name}}</li> -->
                                                    <li><i class="fal fa-calendar-alt"></i> {{item.fecha | date:'dd/MM/y'}}</li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4><a href="blog-details.html">{{item.name}}</a></h4>
                                        <p>{{item.description}}</p>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="blog-btn"><a routerLink="eventos/{{item.idevento}}"><i
                                                    class="fas fa-angle-right"></i> Leer Más</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog-area-end -->

        <!-- newslater-area -->
        <section class="newslater-area pt-95 pb-100" style="background:#FCC84E;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="section-title">
                            <h2>Nosotros te contactamos, deja tu teléfono</h2>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <form name="ajax-form" action="#" method="post" class="contact-form newslater p-relative">
                            <div class="form-group">
                                <input class="form-control" id="email2" name="telefono" type="phone"
                                    placeholder="Teléfono ..." value="" required="">
                                <button type="submit" class="btn btn-custom" id="send2">Contáctame más tarde</button>
                            </div>
                            <!-- /Form-email -->
                        </form>
                    </div>
                </div>

            </div>
        </section>
        <!-- newslater-aread-end -->

    </main>
    <!-- main-area-end -->
  
